@charset "utf-8";
body {
	background-color: cyan;
}
nav {
	padding: 10px;
	text-align: center;
}
div.head {
	width:100%;
	background-color:#FFFF00;
	padding: 10px;
	height:120px;
}
div.name {
	/*background-color:#FFFF00*/;
	padding:10px;
	font-size: xx-large;
}
div.navlinks {
	max-width:960px;
	background-color:#CC99FE;
	margin: 0 auto;
	margin-top:0px; 
	padding:10px;
}
div.body {
	width:880px;
	background-color:#FFFF00;
	margin:0px auto;
	padding:50px;
}
div.footer {
	width: 100%;
	background-color: #808080;
	padding: 30px;
	height: 100px;
}
img.logo {
	float:left; 
	margin:10px; 
	width:95px; 
	height:100px;
}
table.jewel {
    width: 100%;
    border: 1px solid #666;
}
th {
    background: #009383;
    color: #fff;
    text-align: left;
}
tr.odd {
    background: #ebd3d7;
}
